@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron" style="background-image: url(../../Content/Toast.jpg)">
    <center>
        <h1>Between Friends</h1>
        <p class="lead">Find the perfect spot to meet in the middle</p>

    </center>

    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<br />


<div class="row">
    <center>
     
        <div class="panel panel-info col-md-3">
            <div class="panel-heading">
                <h3 class="panel-title">Connect</h3>
            </div>
            <div class="panel-body">
                Find friends to connect with
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="panel panel-success col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">Invite</h3>
            </div>
            <div class="panel-body">
                Create an event and invite friends to join
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">
                <h3 class="panel-title">Gather</h3>
            </div>
            <div class="panel-body">
                Meet up at a central location
            </div>
        </div>
    </center>
</div>




