@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Between Friends</h1>
    <p class="lead">Find the perfect spot to meet in the middle. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <center>
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>Connect</h2> <a href="#" class="alert-link">Find friends</a> to connect with.
        </div>


        @*<h2>Connect</h2>*@
        @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>


    <div class="col-md-4">
        @*<h2>Invite</h2>*@
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>Invite</h2>  <a href="#" class="alert-link">Create an event </a> and add friends to join.
        </div>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Gather</h2>*@
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>Gather</h2><a href="#" class="alert-link">Meet up</a> at a recommended central location.
        </div>
        @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
        </center>
</div>

